.chat-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 10px;
  background-color: rgb(153, 35, 35);
}
.message-holder {
  height: 300px;
  border: 1px solid black;
  margin-bottom: 5px;
}